@use 'base';

.buttonContainer {
	width: 100%;
	position: fixed;
	z-index: 2;
	padding: 2rem;
	display: flex;
	justify-content: flex-end;
	transition: 0.3s ease-in-out;
}

.background {
	width: 100%;
	position: fixed;
	z-index: 2;
	height: 200px;
	bottom: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0), base.$color-main);
}

$buttonHeight: 50px;
$buttonWidth: 125px;
$bounceHeight: 50px;

.contactButton {
	background-color: base.$color-green;
	color: base.$color-main;
	height: $buttonHeight;
	width: $buttonWidth;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	font-weight: 600;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

.contactButton:hover::after {
	width: 0 !important;
}

.animatedButton {
	animation: bounce, float;
	animation-duration: 1s, 2s;
	animation-delay: 0.3s, 1.8s;
	animation-iteration-count: 1, infinite;
	animation-timing-function: forwards, ease-in-out;
	transform-origin: center center;
}

@keyframes float {
	0% {
		transform: translateY(0);
		box-shadow: 0 0 5px rgba(40, 167, 69, 0.4);
	}
	50% {
		transform: translateY(-2vh);
		box-shadow: 0 0 20px rgba(40, 167, 69, 0.6);
	}
	100% {
		transform: translateY(0);
		box-shadow: 0 0 5px rgba(40, 167, 69, 0.4);
	}
}

@keyframes bounce {
	/* Start at ground level */
	0% {
		transform: translateY(0) rotate(0deg);
		width: $buttonWidth;
		height: $buttonHeight;
	}
	/* First big jump with rotation to one side */
	15% {
		transform: translateY(-10vh) translateX(calc(#{$buttonWidth} * 0.05))
			rotate(20deg);
		width: calc(#{$buttonWidth} * 1.1);
		height: calc(#{$buttonHeight} * 0.9);
		/* Slowing down as it reaches the peak */
		animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
	}
	/* Fall back to ground, rotation back to 0 */
	30% {
		transform: translateY(0) translateX(0) rotate(0deg);
		width: $buttonWidth;
		height: $buttonHeight;
		/* Speeding up due to gravity */
		animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
	}
	/* Second smaller jump, rotate to the other side */
	45% {
		transform: translateY(-3vh) translateX(calc(#{$buttonWidth} * 0.05))
			rotate(-15deg);
		width: calc(#{$buttonWidth} * 1.1);
		height: calc(#{$buttonHeight} * 0.9);
		animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
	}
	/* Fall back to ground, rotation back to 0 */
	60% {
		transform: translateY(0) translateX(0) rotate(0deg);
		width: $buttonWidth;
		height: $buttonHeight;
		animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
	}
	/* Third even smaller jump, rotate back to the first side */
	75% {
		transform: translateY(-1vh) translateX(calc(#{$buttonWidth} * 0.05))
			rotate(10deg);
		width: calc(#{$buttonWidth} * 1.1);
		height: calc(#{$buttonHeight} * 0.9);
		animation-timing-function: cubic-bezier(0.33, 0, 0.67, 0);
	}
	/* Fall back to ground, rotation back to 0 */
	85% {
		transform: translateY(0) translateX(0) rotate(0deg);
		width: $buttonWidth;
		height: $buttonHeight;
		animation-timing-function: cubic-bezier(0.33, 1, 0.67, 1);
	}
	/* Settle at ground level */
	100% {
		transform: translateY(0) rotate(0deg);
		width: $buttonWidth;
		height: $buttonHeight;
	}
}

@media screen and (max-width: 1024px) {
}
