@use 'base';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.3s;
	color: white;
}

html {
	scroll-behavior: smooth !important;
}

body {
	background: base.$color-main;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: base.$gap;
	width: 90%;
	max-width: 1440px;
	margin: 16rem auto;
	scroll-margin: 8rem;
}

%title {
	font-weight: 600;
}

h1 {
	@extend %title;
	font-size: 6rem;
	text-wrap: balance;
	line-height: 1.25;
}

h2 {
	@extend %title;
	font-size: 4rem;
	text-wrap: balance;
}

h3 {
	@extend %title;
	font-size: 2rem;
	margin-bottom: 1.25rem;
}

h4 {
	@extend %title;
	font-size: 1.25rem;
}

p {
	font-size: 1.25rem;
	line-height: 1.75;
	text-wrap: balance;
	// color: #434343;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	line-height: normal;
	text-align: left;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

@media screen and (max-width: 1024px) {
	.grid-container {
		grid-template-columns: repeat(8, 1fr);
	}

	h1 {
		font-size: 4.5rem;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: calc(base.$gap / 2);
		margin: 8rem auto;
	}
}
