@use 'base';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.3s;
}

html {
	scroll-behavior: smooth !important;
}

body {
	background-color: gray;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: base.$gap;
	padding-left: base.$gap;
	padding-right: base.$gap;
}

// temp

.temp {
	margin: 6.25rem 0;
}

@media screen and (max-width: 1024px) {
	.grid-container {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: calc(base.$gap / 2);
		padding-left: calc(base.$gap / 2);
		padding-right: calc(base.$gap / 2);
	}
}
