@use 'base';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.3s;
	text-wrap: balance;
}

html {
	scroll-behavior: smooth !important;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: base.$gap;
	padding-left: base.$gap;
	padding-right: base.$gap;
	margin-top: calc(base.$margin * 3);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.375rem;
	margin-bottom: 1.25rem;
}

p {
	line-height: 1.75rem;
	color: #434343;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.grid-container {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	.grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: calc(base.$gap / 2);
		padding-left: calc(base.$gap / 2);
		padding-right: calc(base.$gap / 2);
		margin-top: base.$margin;
	}
}
