@use 'base';

.header {
	z-index: 3;
	width: 100%;
	position: fixed;
	top: 0;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
	}

	a {
		text-decoration: none;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 2.5rem;

		li {
			font-size: 0.875rem;
			position: relative;
			text-transform: uppercase;
			letter-spacing: 0.05rem;
		}

		li:after {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			right: 0;
			bottom: -5px;
			display: block;
			background: base.$color-green;
			transition: width 0.2s ease;
			-webkit-transition: width 0.2s ease;
		}

		li:hover:after {
			width: 100%;
			left: 0;
		}
	}
}

.contactButton {
	background-color: base.$color-green;
	color: base.$color-main;
	padding: 1rem 1.5rem;
	border-radius: 2rem;
	font-weight: 600;
}

.hiddenButton {
	display: none;
}

.contactButton:hover::after {
	width: 0 !important;
}

@media screen and (max-width: 1024px) {
	.header {
		flex-direction: column;
		justify-content: flex-start;
		gap: 4rem;
		padding: 1.5rem !important;

		div {
			width: 100%;
		}

		ul {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			li {
				width: fit-content;
				text-align: right;
				color: base.$color-main !important;
			}
		}
	}

	.menu {
		flex-direction: column;
		align-items: flex-end !important;
	}

	.contactButton {
		margin-top: 1rem;
	}
}

@media screen and (max-width: 768px) {
}
