@use 'base';

.hero {
	background-color: gray;
	height: 100vh;
	margin: 0;
	padding-top: 0;
	align-items: center;

	* {
		color: white;
	}
}

.heroContent {
	width: 90%;
	max-width: 1440px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: base.$gap;

	h1 {
		max-width: 800px;
	}
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: calc(base.$gap / 2);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
