@use 'base';

.services {
	padding-top: calc(base.$margin * 3);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.serviceNav {
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

.servicesText {
	width: 90%;
	max-width: 720px;
	margin-left: auto;
	padding-right: base.$gap;

	h2 {
		margin-bottom: base.$gap;
	}

	h3 {
		font-weight: 400;
		cursor: pointer;
		margin-bottom: 0;
		margin-right: 0.625rem;
	}

	.serviceTitle {
		display: flex;
		align-items: center;
		width: fit-content;

		img {
			display: none;
			padding-top: 2px;
		}

		.leftBorder {
			width: 4px;
			height: 1.6rem;
			background-color: base.$color-main;
			display: none;
		}
	}

	.serviceTitle:hover {
		h3 {
			font-weight: 700;
			margin-left: 0.625rem;
			margin-right: 1.25rem;
		}

		img {
			display: block;
		}

		.leftBorder {
			display: block;
		}
	}

	.activeService {
		h3 {
			font-weight: 700;
			margin-left: 0.625rem;
		}

		img {
			display: block;
		}

		.leftBorder {
			display: block;
		}
	}

	.serviceDescription {
		margin-top: base.$margin;
		margin-bottom: calc(base.$gap / 2);
	}
}

// Gallery

.servicePhoto {
	position: relative;
	width: 100%;
	height: 100%;
}

.mobile {
	display: none;
}

@media screen and (max-width: 1024px) {
	.services {
		grid-template-columns: 1fr;
	}

	.servicesText {
		margin-right: auto;
		margin-bottom: base.$gap;
		padding: 0;
		max-width: none;

		.serviceDescription {
			margin-top: base.$gap;
		}
	}

	.servicePhoto {
		aspect-ratio: 16/10;
	}
}

@media screen and (max-width: 768px) {
	.services {
		padding-top: base.$margin;
	}

	.servicesText {
		margin-right: auto;
		margin-bottom: base.$gap;
		padding: 0;

		h3 {
			font-size: 1.2rem;
		}

		.serviceDescription {
			margin-top: base.$gap;
		}
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
