@use 'base';

.values {
	h2 {
		grid-column: span 3;
	}

	.valuesText {
		grid-column: span 9;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: base.$gap;
	}
}

@media screen and (max-width: 1024px) {
	.values {
		h2 {
			grid-column: span 8;
		}
	}

	.valuesText {
		grid-column: span 8;
	}
}

@media screen and (max-width: 768px) {
	.valuesText {
		grid-column: span 2;
		grid-template-columns: 2;
		grid-gap: calc(base.$gap / 2) !important;

		div {
			grid-column: 1 / 3;
		}
	}
}
